@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { 
    scroll-behavior: smooth
  }

.icon {
    color: black;
    width: 1rem;
    height: 1rem;
}

.icon:hover {
    color: #83B5BE;
}

.logoc7 {
    animation: spinX 5s linear infinite;
    transition: opacity 0.5s;
}


@keyframes spinX {
    0%{
        transform: rotateY(0deg);
    }
    100%{
        transform: rotateY(360deg);
    }
}

